# Secrets
.env
.env.*
!.env.example

firebase-service-account.json
**/firebase-service-account.json

# Python
.venv/
__pycache__/
*.pyc

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/

# Node
node_modules/